.lucro-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lucro-nav button{
    padding: 0px 50px;
    height: 40px;
    border-radius: 2px;
    border: 2px solid var(--main-blue-color);
    background-color: var(--main-blue-color);
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-left: 20px;
    cursor: pointer;
    transition: .2s;
    font-family: 'Rajdhani', sans-serif;
}

.lucro-nav button:hover{
    background-color: #dde8ff;
    color: var(--main-blue-color);
}

.lucro-nav p{
    color: #0084ff;
    font-size: 17px;
    font-family: 'Rajdhani', sans-serif;
    background-color: #cfe8ff;
    padding: 7px 20px;
    border-radius: 30px;
}